<div class="background">
  <div class="container">
    <div class="row button_content">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <a href="" class="link"><i class="bi bi-arrow-left-circle" (click)="backToHome()"></i></a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 edit">
        <button class="btn btn-icon editBtn" (click)="saveAsPDF()"><i class="bi bi-download"></i></button>
        <button class="btn btn-icon editBtn" (click)="editRecipe()" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" *ngIf="admin"><i class="bi bi-pencil-square"></i></button>
      </div>
    </div>
    <div >
      <div class="row pic">
        <div class="col-sm-7 col-md-7 col-lg-7 img">
          <img src={{recipe.image}} style="width:100%" />
        </div>
        <div class="col-sm-5 col-md-5 col-lg-5">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="recipeTitle">
              <h1 class="mb-3">{{recipe.title}}</h1>
              <br /><p><i class="bi bi-clock"></i> {{recipe.timeToPrepare}} minutes</p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
              <button class="btn btn-icon btnHeart" (click)="addFavorite()" *ngIf="!favorite"><i class="bi bi-heart-fill heart"></i><br />Save ({{recipe.numberOfFavorites}})</button>
              <button class="btn btn-icon btnHeart saved" (click)="removeFavorite()" *ngIf="favorite"><i class="bi bi-heart-fill heart"></i><br />Saved ({{recipe.numberOfFavorites}})</button>
            </div>
          </div>
        </div>

      </div>

      <div class="content" id="recipe-content">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4 col1">
            <div class="column">
              <button class="btn btn-outline-dark" (click)="convertUnits()">Convert measurement units</button><br/>
              <p><b>Ingredients</b></p>
              <ul>
                <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient}}</li>
              </ul>
            </div>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-8 col1 col2">
            <div class="column">
              <p><b>Procedure</b></p>
              <pre>{{recipe.description}}</pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />

  <!------------------------------------------LOGIN---------------------------------------------------------------->
  <div class="login">
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" (hidden.bs.modal)="addFavorite()">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Welcome</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="login-modal-close"></button>
          </div>
          <div class="modal-body">
            <app-login *ngIf="login == false && open"></app-login>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------------------------------------------------------------------------------------------->
  <!------------------------------------------EDIT---------------------------------------------------------------->
  <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
       tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Edit recipe</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                  (click)="modalClose()" id="login-modal-close"></button>
        </div>
        <div class="modal-body">
          <app-add-edit-recipe [recipeEdit]="recipe" *ngIf="admin && edit"></app-add-edit-recipe>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------------------------------------------------------------------------------------------->
</div>
