<div class="background">
  <div class="container">
    <div class="row button_content">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <a href="" class="link"><i class="bi bi-arrow-left-circle" (click)="backToHome()"></i></a>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6 edit" *ngIf="admin">
        <button class="btn btn-icon editBtn" (click)="editRecipe()" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"><i class="bi bi-pencil-square"></i></button>
        <!--<button class="btn btn-icon editBtn" (click)="editRecipe()" data-bs-toggle="modal" data-bs-target="#staticBackdrop2"><i class="bi bi-pencil-square"></i></button>-->
      </div>
    </div>
    <div class="row pic">
      <!--<div class="col-sm-1 col-md-1 col-lg-1">
        <a href="" class="link"><i class="bi bi-arrow-left-circle" (click)="backToHome()"></i></a>
      </div>-->
      <div class="col-sm-7 col-md-7 col-lg-7 img">
        <img [src]="'/../../' + recipe.image" style="width:100%" />
      </div>
      <div class="col-sm-5 col-md-5 col-lg-5">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 class="mb-3">{{recipe.title}}</h1>
            <br /><p><i class="bi bi-clock"></i> {{recipe.timeToPrepare}} minutes</p>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <button class="btn btn-icon btnHeart" (click)="addFavorite()" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-heart-fill heart"></i>  <br />Save</button>
          </div>
        </div>
        <!--<h1 class="mb-3">{{recipe.title}}</h1>-->
        <!--<input class="editText" type="text" [readonly]="(!admin || !edit)" [(ngModel)]="recipe.name">-->
        <!--<h1><input class="editText" type="text" [readonly]="(!admin || !edit)" [(ngModel)]="recipe.name"></h1>-->
        <!--<h1><textarea class="editText" type="text" [readonly]="(!admin || !edit)" [(ngModel)]="recipe.name"></textarea></h1>-->
      </div>
      <!--<div class="col-sm-1 col-md-1 col-lg-1">
        <button class="btn btn-icon btnHeart" (click)="addFavorite()" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-heart-fill heart"></i>  Favorite</button>
      </div>-->

    </div>

    <div class="content">
      <!--<div class="text">
        <!--<p>{{recipe.description}}</p>
        <p><i class="bi bi-clock"></i> {{recipe.timeToPrepare}} minutes</p>
      </div>-->


      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col1">
          <div class="column">
            <p><b>Ingredients</b></p>

            <!--<pre>{{formateText(recipe.ingredients)}}</pre>-->
            <!--<pre>{{recipe.ingredients}}</pre>-->
            <ul>
              <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient}}</li>
            </ul>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-8 col1 col2">
          <div class="column">
            <p><b>Procedure</b></p>
            <pre>{{recipe.description}}</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <!--<div class="container">
    <div>
      <p><b>Comments</b></p>
      <div class="row">
        <div class="col-lg-10 form">
          <input type="text" class="form-control" id="comment" name="comment"
                 [disabled]="login==false" [(ngModel)]="comment" />
        </div>
        <div class="col-lg-1">
          <button class="btn btn-primary">Post</button>
        </div>
      </div>

    </div>
  </div>-->
  <!------------------------------------------LOGIN---------------------------------------------------------------->
  <div class="login">
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" (hidden.bs.modal)="addFavorite()">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Welcome</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="login-modal-close"></button>
          </div>
          <div class="modal-body">
            <app-login *ngIf="login == false && open"></app-login>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------------------------------------------------------------------------------------------->
  <!------------------------------------------EDIT---------------------------------------------------------------->
  <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
       tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" (hidden.bs.modal)="addFavorite()">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Edit recipe</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                  id="login-modal-close"></button>
        </div>
        <div class="modal-body">
          <app-add-edit-recipe [recipeEdit]="recipe" *ngIf="admin && edit"></app-add-edit-recipe>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------------------------------------------------------------------------------------------->
</div>
