.card-title {
  color: white;
}

.banner {
  //height: 30%;
  //background-image: url("src/assets/Slike/flat-lay-delicious-local-food-assortment-with-copy-space.jpg");
  background-image: url("src/assets/Slike/banner_picture.png");
  color: black;
  background-size: cover;
  background-position: 0px 55%;
  background-repeat: no-repeat;
  text-align: left;
  //padding: 80px 0;
  padding-left: 5%;
  height: 14rem;
  //height: 11rem;
  //position:fixed;
  //opacity:0.7;
}

@media all and (min-width: 1600px) {

  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 90%;
  }
}

@media all and (min-width: 2000px) and (max-width: 2800px) {

  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    font-size: 25px;
  }
}

@media all and (min-width: 2800px) and (max-width: 3000px) {

  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    font-size: 40px;
  }
}

@media all and (min-width: 3000px) {

  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    font-size: 70px;
  }
}
