<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css" rel="stylesheet">

</head>

<div class="container">
  <!--<div class="row">
    <div class="col-md-12">
      <div class="form-group row">
        <label for="Meal" class="col-md-1 col-form-label">Meal:</label>
        <div class="col-md-6">
          <!--<input type="text" class="form-control" id="Meal" [(ngModel)]="lastNameFilter">
          <input type="text" class="form-control" id="Meal" [(ngModel)]="MealFilter">
        </div>
      </div>
    </div>
  </div>-->
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" (click)="home()">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <button class="btn btn-icon addbtn add" (click)="addRecipe()" data-bs-toggle="modal" data-bs-target="#staticBackdrop2" *ngIf="!login" #loginButton>Login</button>
            
            <button class="btn btn-icon" (click)="logOut()"*ngIf="login">Log out</button>
          </li>
          <!--<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="login">{{username}}</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" *ngIf="login">
      <li><a class="dropdown-item" href="#" (click)="logOut()">Log out</a></li>
    </ul>
  </li>-->
          <li class="nav-item">
            <button class="btn btn-icon addbtn add" (click)="showFavorites()" *ngIf="login">Favorites</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-icon addbtn add" (click)="addRecipe()" data-bs-toggle="modal" data-bs-target="#staticBackdrop" *ngIf="admin">Add recipe</button>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="text" placeholder="Search" name="search" id="search" [(ngModel)]="search" [disabled]="!login">
          <button class="btn btn-outline-success searchbtn" type="submit" (click)="searchRecipe()" [disabled]="!login">Search</button>
        </form>
      </div>
    </div>
  </nav>
  </div>
  <br /><br />


  <div class="container">
    <div class="row">
      <div *ngIf="showFavorite" class="favorite">
        <h2>Favorites</h2>
        <br />
      </div>
      <h2 *ngIf="noRecipe" class="noRecipe">There are no recipes</h2>
      <ng-container *ngFor="let recipe of recipesList$ | async">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 column" *ngIf="recipe.enabled" [ngClass]="{'blurred': !login}">
          <button class="btn btn-icon trashBtn" data-bs-toggle="modal" data-bs-target="#deleteRecipeModal" (click)="setRecipeToDelete(recipe)" *ngIf="admin"><i class="bi bi-trash3"></i></button>
          <div class="recipe-card" (click)="showRecipe(recipe.id)" *ngIf="login">
            <p class="recipe-title"><b>{{recipe.title}}</b></p>
            <img src={{recipe.image}} />
          </div>

          <div class="recipe-card" *ngIf="!login" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
            <p class="recipe-title"><b>{{recipe.title}}</b></p>
            <img src={{recipe.image}} />
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!------------------------------------------LOGIN---------------------------------------------------------------->
  <div class="login" *ngIf="!login" #top>
    <div class="myModal" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
         tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="false" #loginModal>
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Welcome</h5>
            <button [hidden]="true" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="login-modal-close" #loginModalCloseButton (click)="closeModal()"></button>
          </div>
          <div class="modal-body">
            <app-login *ngIf="login == false" (loginSuccess)="onLoginSuccess($event)"></app-login>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------------EDIT---------------------------------------------------------------->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
       tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Add recipe</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                  (click)="modalClose()" id="login-modal-close"></button>
        </div>
        <div class="modal-body">
          <app-add-edit-recipe [recipeEdit]="recipe" *ngIf="admin && add"></app-add-edit-recipe>
        </div>
      </div>
    </div>
  </div>

  <!------------------------------------------DELETE RECIPE--------------------------------------------------------->
  <div class="modal fade" id="deleteRecipeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete recipe</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" #deleteModalCloseButton></button>
        </div>
        <div class="modal-body deleteModalText">
          <p>Are you sure you want to remove this recipe?</p>
        </div>
        <div class="modal-footer deleteModalText">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary" (click)="deleteRecipe()">Yes</button>
        </div>
      </div>
    </div>
  </div>
