.container{
    text-align: center;
}

.recipe-card {
  border: 1px solid #ddd;
  box-sizing: border-box;
  position: relative;
  border-radius: 10px;
}
.btn{
    background-color:lightgrey;
    border-color: dimgrey;
    color: black;
}
.container input {
  border: 2px solid rgba(0, 0, 0, 0.355);

}
.btn-icon {
  height: 38px;
  width: 50px;
  color: black;
  padding: 0px
}

.navbar {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  background-color: rgb(236, 231, 231);
  //position:fixed;
  //background-color: rgb(79, 75, 75)
}

img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.recipe-title {
  position: absolute;
  top: 80%;
  left: 50%;
  width: 90%;
  transform: translate(-50%, -50%);
  color: white;
  //background-color:rgba(155, 123, 77);
  //padding: 5px;
  line-height:normal;
  //font-size: 15px;
}
.recipe-title b {
  background-color: rgb(137, 73, 32);
  padding: 1px 5px;
}

.column {
  padding: 10px;
}
.column:hover {
  cursor:pointer;
}
